{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {},
  "settings": {}
}